[submodule "modules/niova-pumicedb"]
	path = modules/niova-pumicedb
	url = https://github.com/niova/niova-pumicedb.git
[submodule "modules/niova-lookout"]
	path = modules/niova-lookout
	url = https://github.com/niova/niova-lookout.git
